{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row" style="height:20px;"> 
    </div>
    <div class="row"> 
        <div class="col-md-1"> 
        </div>
        <div class="col-md-10"> 
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Child Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
					<form method="post" class="schools" name="schools">
						{% set count = 0 %}
						{% for school in schools %}
							
							<div class="checkbox form-group" name="myschool">
							  
							</div>
								  
							<div class="form-group">
								<label class="col-sm-3 control-label"><input type="checkbox" name="school[{{ loop.index }}][sid]" value="{{school['id']}}">Option {{school['name']}}</label>
                            	<label class="col-sm-2 control-label">Prefferrence No:</label>
                            	<div class="col-sm-5">
                                	<input type="number" class="form-control" name="school[{{ loop.index }}][id]">
                           		 </div>
                       		 </div>
							<br/>
						{% endfor %}
						<input type="submit" value="Create" name="submit" class="btn btn-info"/>
					</form>


				</div><!-- /.box-body -->
                <div class="box-footer">
                </div><!-- /.box-footer -->
              </div>
            </div>
        </div>
    </div>       
{% endblock %}